:root {
    --numpad-btn-size: 15vh;
}

.numpad-row {
    width: calc(3 * var(--numpad-btn-size));
    height: var(--numpad-btn-size);
}

.numpad-row * {

}

.btn-group-no-padding > * {
    padding: 0;
}

.btn-sq-xl {
    width: 30vh;
    height: 30vh;
}

.btn-sq-lg {
    width: 20vh;
    height: 20vh;
}

.btn-sq-md {
    width: 15vh;
    height: 15vh;
}

.btn-sq-sm {
    width: 12vh;
    height: 12vh;
}

.btn-sq-xs {
    width: 8vh;
    height: 8vh;
}